<div ng-if="model.selectedProgram.id && selectedOrgUnit.id" class="vertical-spacing">

    <div ng-if="!model.displayAddTei && !model.displaImportTei && !model.displayEditTei && !model.displaysearchTei">
        <div ng-include="'components/home/tei-list.html'"></div>
    </div>
    <div ng-if="model.displayAddTei">
        <div ng-include="'components/home/tei-add.html'"></div>
    </div>

    <div ng-if="model.displaImportTei">
        <div ng-include="'components/home/tei-import.html'"></div>
    </div>

    <div ng-if="model.displayEditTei">
        <div ng-include="'components/home/tei-edit.html'"></div>
    </div>

    <div ng-if="model.displaysearchTei">
        <div ng-include="'components/home/tei-search.html'"></div>
    </div>

</div>

<div class="alert alert-warning small-vertical-spacing" ng-if="model.programs.length === 0 ">
    {{'no_program' | translate}}
</div>

<div class="alert alert-warning small-vertical-spacing" ng-if="model.programs.length > 0 && !model.selectedProgram">
    {{'please_select_program' | translate}}
</div>