<div class="row" ng-if="model.members.length > 0 && !isOnAddEditMode()">
    <div class="col-sm-12">
        <span class="hideInPrint">
            <span class="dropdown">
                <label class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-attr-title="{{'download'| translate}}"><i class="fa fa-download"></i></label>
                <ul class="dropdown-menu">
                    <li><h6 class="dropdown-header">{{'download'| translate}}</h6></li>
                    <li class="divider"></li>
                    <li><a href filename="recommendaiton-list.csv" ng-click="exportData()">{{'csv'| translate}}</a></li>
                    <li><a href filename="recommendaiton-list.pdf" onclick="javascript:window.print()">{{'pdf'| translate}}</a></li>
                </ul>
            </span>
            <label class="btn btn-default horizontal-spacing" ng-click="showHideColumns()" ng-attr-title="{{'show_hide_columns'| translate}}">
                <i class="fa fa-table label-font"></i>
            </label>
            <label class="long-horizontal-spacing">
                {{'total_tei' | translate}} = {{model.members.length}}
            </label>
        </span>
    </div>
    <div class="col-sm-12" id="exportTable">
        <table class="table table-bordered dhis2-table-hover table-responsive">
            <thead>
                <tr>
                    <th class="vertical-center cursor-pointer"
                        ng-repeat="header in model.teiHeaders"
                        ng-if="header.show">
                        <span ng-attr-title="{{'sort' | translate}}"  ng-click="sortItems(header)">
                            {{header.displayName}}

                            <!-- sort icon begins -->
                            <span class="fa-stack hideInPrint">
                                <span ng-class="{true: 'alert-danger'} [model.sortHeader.id === header.id && !reverse]"><i class="fa fa-sort-asc fa-stack-1x"></i></span>
                                <span ng-class="{true: 'alert-danger'} [model.sortHeader.id === header.id && reverse]"><i class="fa fa-sort-desc fa-stack-1x"></i></span>
                            </span>
                            <!-- sort icon ends -->
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in model.members">
                    <td class="vertical-center"
                        ng-repeat="header in model.teiHeaders"
                        ng-if="header.show"
                        ng-click="showEditTei(member)"
                        ng-attr-title="{{'show_details'| translate}}">
                        {{member[header.id]}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 hideInPrint">
        <serverside-paginator></serverside-paginator>
    </div>
</div>
<div class="alert alert-warning" ng-if="model.members.length === 0 && !isOnAddEditMode()">
    {{'no_members_available' | translate}}
</div>
